In [6]:
import pandas as pd
df = pd.read_csv('test.csv')

def rename_for_freqtrade(df):
    # Define the renaming dictionary
    renaming_dict = {
        'date': 'Open_time',
        'open': 'Open',
        'high': 'High',
        'low': 'Low',
        'close': 'Close',
        'volume': 'Volume'
    }

    # Create renamed columns and append them to the original DataFrame
    for original, new in renaming_dict.items():
        df[new] = df[original]
    
    return df

In [7]:
df = rename_for_freqtrade(df)
df

,Unnamed: 0,date,open,high,low,close,volume,Open_time,Open,High,Low,Close,Volume
0,0,2020-09-03 00:00:00+00:00,19.710,35.000,16.708,17.752,1122432.923,2020-09-03 00:00:00+00:00,19.710,35.000,16.708,17.752,1122432.923
1,1,2020-09-04 00:00:00+00:00,17.755,20.500,16.710,17.583,584233.851,2020-09-04 00:00:00+00:00,17.755,20.500,16.710,17.583,584233.851
2,2,2020-09-05 00:00:00+00:00,17.587,17.703,10.200,12.321,695421.075,2020-09-05 00:00:00+00:00,17.587,17.703,10.200,12.321,695421.075
3,3,2020-09-06 00:00:00+00:00,12.324,16.000,11.277,13.368,523442.995,2020-09-06 00:00:00+00:00,12.324,16.000,11.277,13.368,523442.995
4,4,2020-09-07 00:00:00+00:00,13.370,13.653,11.508,13.219,563541.474,2020-09-07 00:00:00+00:00,13.370,13.653,11.508,13.219,563541.474
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1073,1073,2023-08-12 00:00:00+00:00,30.480,30.600,30.030,30.550,66813.580,2023-08-12 00:00:00+00:00,30.480,30.600,30.030,30.550,66813.580
1074,1074,2023-08-13 00:00:00+00:00,30.560,31.250,30.350,31.060,105368.170,2023-08-13 00:00:00+00:00,30.560,31.250,30.350,31.060,105368.170
1075,1075,2023-08-14 00:00:00+00:00,31.060,31.170,30.650,30.860,64335.690,2023-08-14 00:00:00+00:00,31.060,31.170,30.650,30.860,64335.690
1076,1076,2023-08-15 00:00:00+00:00,30.870,30.990,28.000,29.470,142566.360,2023-08-15 00:00:00+00:00,30.870,30.990,28.000,29.470,142566.360
1077,1077,2023-08-16 00:00:00+00:00,29.450,29.520,27.770,28.610,150745.520,2023-08-16 00:00:00+00:00,29.450,29.520,27.770,28.610,150745.520